<h1>This is the Burd Page</h1>
  <form method="POST" action="/burd_answers">
    <p>Your Name: <input type="text" name="first_param" id="first_param"></p>
    <p>Your Favorite Food: <input type="text" name="second_param"></p>
    <input type="submit" value="Magic Button"/>
  </form>
